* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 40px;
}

.container {
  background: white;
  width: 100%;
  max-width: 420px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  gap: 8px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  margin: 8px 0;
  list-style: none;
}

li button {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 3px 6px;
}


.delete-btn {
  background: #ef4444;
  border-radius: 6px;
  padding: 6px 10px;
}

/* MODE SOMBRE */
body.dark {
  background-color: #111;
  color: #f1f1f1;
}

body.dark .container {
  background: #1e1e1e;
}

body.dark input {
  background: #333;
  color: white;
  border: 1px solid #555;
}

body.dark li {
  background: #2a2a2a;
}

body.dark button {
  background: #444;
  color: white;
}

.delete-btn:hover {
  background: #b91c1c;
}

.counter {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

li span {
  flex: 1;
}

li button {
  margin-left: 6px;
  font-size: 16px;
}
